body {
    background: #06131d;
    margin: 0;
    font-family: Arial;
    color: #e6ffff;
}

.title {
    text-align: center;
    margin-top: 20px;
}

#searchInput {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    background: #09202c;
    border: 1px solid #00ffc877;
    border-radius: 8px;
    color: white;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 40px;
}

.game-card {
    background: #0c1d2b;
    border-radius: 12px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid #00ffc844;
    box-shadow: 0 0 15px #00ffc822;
    cursor: pointer;
}

.game-img {
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.game-title {
    margin-top: 10px;
    color: #aaffee;
}

.vip-tag {
    background: #ff0066;
    padding: 3px 7px;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}

.show-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background: #00ffc8;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* POPUP */
.detail-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000cc;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.detail-content {
    background: #08131d;
    color: white;
    width: 420px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 25px #00ffc844;
}

.detail-img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.close-btn {
    float: right;
    background: none;
    border: none;
    color: #ff3333;
    font-size: 22px;
    cursor: pointer;
}

.feature-list li {
    list-style: none;
    margin: 5px 0;
}

.feature-list li::before {
    content: "✔ ";
    color: #00ff99;
}

.price-box {
    background: #09202c;
    padding: 10px;
    border-radius: 8px;
}

.buy-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #00ff99;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 12px;
}

.update-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ff0033;
    border: none;
    color: white;
    border-radius: 8px;
}
